@model PayRollSystem.Models.EmployeeModel
@{
    ViewBag.Title = "Register New Employee";
}
<div class="employee_list_container">
    @Html.Partial("ExistingEmployees")
</div>

<div class="employee_form_container">
    @Html.Partial("EmployeeForm")
</div>
