@model PayRollSystem.Models.EmployeeModel
@{
    ViewBag.Title = "Update Employee";
}
<div style="width: 40%; border: 2px solid; border-radius: 10px;float:left;">
    @Html.Partial("EmployeeForm")
 </div>